.cartao-container {
  margin: 50px auto;
  justify-content: center;
  gap: 30px;
  width: 75%;
  align-items: center;
  height: 80%;
  
  text-align: center
}

.titulo {
  margin-top: 10px;
  color:aliceblue;
  font-size:40px;
  text-decoration: underline dashed  #f05133;
  letter-spacing: 0.3em;
  text-shadow: 3px 3px 10px #2F2325;
}

.paragrafo {
  color:aliceblue;
  width: 60%;
  margin:30px;
  margin-left: 230px;
}
@media only screen and (max-width: 768px){
  .paragrafo{
    font-size:13px;
    margin:0 auto;
  }
  .titulo {
    font-size:15px;
    margin:0 auto;
  }
  iframe{
    width:300px;
    height:200px;
  }
}